<h1>Choose term</h1>
<p>Update time: <%= session[:last_update] %></p>
<% session[:data].each do |term| %>
  <%= link_to "#{term['Code']} #{term['Description']}", controller: 'schedule', action: 'generate', term: term['Code'] %><br />
<% end %>
<br />
<%= link_to 'Logout/Update', controller: 'schedule', action: 'logout' %>
